* {
  outline: none;
}
html{
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}
.container {
  display: flex;
  margin: 0.7%;
  flex-direction: column;
  align-items: center;
}

.header {
  font-weight: 800;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-wrap: wrap;
  flex-direction: column;
  font-size: 2vw;
  margin-top: 1%;

}
.header>p{
  margin-top: 0.2%;
  margin-bottom: 0.5%;
}

.images {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}


.svg-link {
  display: inline-flex;
  align-items: center; /* Center vertically */
  justify-content: center;
}
svg:hover {
  cursor: pointer;
}

.span-grey {
  color: #353a47;
}

.span-silver {
  color: #748cab;
}

.span-red {
  color: #ed254e;
}

.selections-winner {
  font-size: 2vw;
  font-weight: 800;
  margin-top: 1%;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  align-content: center;
}
.selections-winner>p{
  margin-top: 0%;
  margin-bottom: 25px;
}
/* Responsive Styles */
/* For screens smaller than 768px (typical mobile devices) */
@media screen and (max-width: 768px) {
  .container {
    margin: 0.7%;
  }

  .header {
    font-size: 2.5vw;
  }
  .header>p{
    margin-top: 0.2%;
  }
  .images {
    flex-direction: row;
  }
  svg{
    height: 50%;
    width: 50%;
  }
  .selections-winner{
    font-size: 2.5vw;
    margin-top: 5%;
  }
  /* Add more responsive styles as needed */
}


@media screen and (max-width: 480px) {
  .container {
    margin: 10px;
  }

  .header {
    font-size: 20px;
    margin-left: 5px;
    margin-bottom: 5px;
  }
  .header>p{
    margin-top: 0.2%;
    margin-bottom: 0.5%;
  }
  
  .images {
    flex-direction: row;
    align-items: center;
    flex-wrap: nowrap;
  }
  .svg-link {
    display: inline-flex;
    align-items: center; /* Center vertically */
    justify-content: center;
  }
  svg {
    height: 70%;
    width: 70%;
  }
  .selections-winner {
    font-size: 12px;
  }
}
